.departments__item {
    margin-bottom: 50px;
}

.departments__name {
    font-size: 22px;
    font-weight: 500;
    color: $mustard;
    text-transform: uppercase;
}

.departments__phone {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: "Muller Black", Arial, sans-serif;
    font-size: 34px;
    line-height: 0.9;
    font-weight: 900;
    margin-top: 10px;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.departments__email {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}