.footer {
    padding: 35px 20px;
    @media screen and (min-width: $wide-width) {
        padding: 35px 60px;
    }
    @media screen and (max-width: $desktop-width) {
        padding: 30px 25px;
    }
}

.footer__main {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile-width) {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
}

.footer__logo {
    width: 214px;
    margin-right: 20px;
    @media screen and (max-width: $desktop-width) {
        width: 166px;
        margin-right: 30px;
    }
    @media screen and (max-width: $tablet-width) {
        display: none;
    }
}

.footer__mainmenu {
    align-self: flex-start;
    padding-left: 13px;
    position: relative;
    margin-right: 20px;
    &:before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 2px;
        height: calc(100% - 12px);
        margin: 5px 0;
        background-color: $mustard;
    }
    @media screen and (max-width: $tablet-width) {
        display: none;
    }
}

.footer__contacts {
    align-self: flex-start;
    padding-left: 13px;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    margin-right: 20px;
    &:before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 2px;
        height: calc(100% - 8px);
        margin: 6px 0 0;
        background-color: $mustard;
        @media screen and (max-width: $tablet-width) {
            width: 1px;
            margin: 2px 0 0;
            height: calc(100% - 4px);
        }
    }
    @media screen and (max-width: $wide-width) {
        font-size: 14px;
        line-height: 20px;
    }
}

.footer__catalog {
    position: relative;
    align-self: flex-start;
    padding-left: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 20px;
    a {
        display: block;
        text-decoration: none;
        @media screen and (max-width: $wide-width) {
            margin-bottom: 6px;
        }
    }
    &:before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 2px;
        height: calc(100% - 8px);
        margin: 6px 0 0;
        background-color: $mustard;
    }
    @media screen and (max-width: $wide-width) {
        font-size: 14px;
        line-height: 20px;
    }
    @media screen and (max-width: $tablet-width) {
        display: none;
    }
}

.footer__departments {
    text-align: right;
}

.footer__copyright {
    margin-top: 17px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 31px;
    font-weight: 400;
    vertical-align: bottom;
    img {
        margin-right: 19px;
        width: 31px;
    }
    @media screen and (max-width: $wide-width) {
        font-size: 14px;
    }
    @media screen and (max-width: $desktop-width) {
        img {
            margin-right: 10px;
            width: 24px;
        }
    }
    @media screen and (max-width: $tablet-width) {
        margin-left: 0;
        line-height: 1.2;
    }
}