/sitemap*.xml
.DS_Store
.idea/
node_modules
robots.txt

.section.php
upload/
bitrix/admin
bitrix/backup
bitrix/cache/
bitrix/components
bitrix/css
bitrix/fonts
bitrix/gadgets
bitrix/image_uploader
bitrix/images
bitrix/js
bitrix/managed_cache/
bitrix/modules
bitrix/panel
bitrix/php_interface
bitrix/themes
bitrix/tools
bitrix/tmp
bitrix/wizards

bitrix/.settings.php
bitrix/coupon_activation.php
bitrix/footer.php
bitrix/header.php
bitrix/index.php
bitrix/license_key.php
bitrix/p3p.xml
bitrix/rss.php
bitrix/site_checker*.log
bitrix/spread.php
bitrix/urlrewrite.php
bitrix/virtual_file_system.php
bitrix/web.config
bitrix/dbconn.php
bitrix/otp
bitrix/sounds
bitrix/updates
