@keyframes bannersliderWidthbefore{
	0% {transform: rotate(-90deg) translateY(-200%);opacity: 0;}
	80% {transform: rotate(-90deg) translateY(-200%);opacity: 0;}
	100% {transform: rotate(-90deg) translateY(-80%);opacity: 1;}
}
@keyframes bannersliderWidth{
	0% {transform: translateX(100%);}
	100% {transform: translateX(0);}
}

@keyframes bannerslider{
	0% {transform: translateY(-50%);}
	100% {transform: translateY(0);}
}
@keyframes header{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes service{
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-10deg);}
	50% {transform: rotate(0deg);}
	75% {transform: rotate(-10deg);}
	100% {transform: rotate(0deg);}
}

@keyframes gallery1{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-16deg);}
}
@keyframes gallery2{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(10deg);}
}

@keyframes doctorslider1{
	0% {transform: rotate(0deg);margin-right: 0px;}
	100% {transform: rotate(-10deg);margin-right: -20px;}
}
@keyframes doctorslider2{
	0% {transform: rotate(0deg);margin-right: 0px;}
	100% {transform: rotate(-10deg);margin-right: 20px;}
}

@keyframes cimage{
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0%);}
}

@keyframes cimage1{
	0% {transform: translateX(100%);}
	100% {transform: translateX(0%);}
}

@keyframes mapbefore{
	0% {transform: translate(0px,0px) rotate(0deg);}
	100% {transform: translate(30px,0px) rotate(15deg);}
}

@keyframes mapafter{
	0% {transform: translate(0px,0px) rotate(0deg);}
	100% {transform: translate(79px,-10px) rotate(-7deg);}
}
@keyframes containerImage{
	0% {transform: translateX(100%);}
	100% {transform: translateX(0%);}
}

@keyframes cimagebefoe{
	0% {transform: translateX(0) rotate(0deg);}
	100% {transform: translateX(5%) rotate(-30deg);}
}

@keyframes cimageafter{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(60deg);}
}

@keyframes bannerTitlebefore{
	0% {transform: translateX(0) rotate(0deg);}
	100% {transform: translateX(5%) rotate(-10deg);}
}

@keyframes bannerTitleafter{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(10deg);}
}

@keyframes cimagebefoeserv{
	0% {transform: translate(0,0) rotate(0deg);}
	100% {transform: translate(0, 45%) rotate(-30deg);}
}

@keyframes cimagebefoeserv1{
	0% {transform: translate(0,0) rotate(0deg);}
	100% {transform: translate(0, -45%) rotate(-30deg);}
}
@keyframes cimagebefoeserv2{
	0% {transform: translate(0,0) rotate(0deg);}
	100% {transform: translate(0, 65%) rotate(30deg);}
}

@keyframes animation__Before{
	0% {transform: translate(0,0) rotate(0deg);}
	100% {transform: translate(20px, 5%) rotate(-30deg);}
}
@keyframes animation__After{
	0% {transform: translate(0,0) rotate(0deg);}
	100% {transform: translate(0, 45%) rotate(-30deg);}
}

@keyframes rotate30{
	0% {transform: rotate(20deg);}
	100% {transform: rotate(-20deg);}
}


.animation-twoLine{
	position: relative;
	@media (max-width:$tablet_width) {
		display: none;
	}
	&:before{
		@include before(-400px, auto, -180px, auto);
		width: 310px;
		height: 305px;
		background: url(/images/animation1.png) no-repeat;
		animation: service 10s  linear infinite alternate;
		z-index: -2;
	}
	&:after{
		@include before(-400px, auto,-100px, auto);
		width: 145px;
		height: 282px;
		background: url(/images/animation2.png) no-repeat;
		animation: service 10s  linear infinite alternate;
		z-index: -3;
	}
}



@keyframes bodybefore{
	0% {
		width: 565px;
		height: 565px;
		@include before(150px, 10%, auto, auto);
		z-index: 9991;
	}
	100% {
		width: 565px;
		height: 565px;
		@include before(150px, -20%, auto, auto);
		z-index: 9991;
	}
}


@keyframes bodyopacity{
	0% {
		overflow: hidden;
		opacity: 1;
		background: #fff;
	}
	80% {
		opacity: 1;
		background: #fff;
	}
	100% {
		overflow: hidden;
		opacity: 0;
		background: transparent;
		content: none;
	}
}
@keyframes bodylogo{
	0% {
		transform: translate(-50%,-50%) scale(0.8);
	}
	100% {
		transform: translate(-50%,-50%) scale(1);
	}
}

@keyframes banner-slider__animationBefore{
	0% {
		top: 24%;
		right: 18%;
		transform: rotate(-30deg);
	}
	100% {
		top: 56%;
		right: 7%;
		transform: rotate(0deg);
	}
}
@keyframes banner-slider__animationAfter{
	0% {
		top: 57%;
		right: 11%;
		transform: rotate(-30deg);
	}
	100% {
		top: 57%;
		transform: rotate(-3deg);
		right: 10%;
	}
}