.footer {
	background: #f8f8f8;

	/* .footer__container */
	&__container {
		/* .footer__container--top */
		&--top {
			margin-bottom: 55px;
			padding-top: 15px;
			@media (max-width:$big-mobile_width) {
				padding-top: 0;
			}
			.footer__hmenu{
				display: block;
				position: relative;
				&:before{
					@include before(auto, 0, auto, 0);
					width: 100%;
					height: 1px;
					background-image: $gradient_f2af44_d93380;
				}
				&--header{
					@include flex(space-between, center, nowrap);
					@media (max-width:$tablet_width) {
						@include flex(flex-start, normal, wrap);
						flex-direction: column-reverse;
						padding-top: 30px;
					}
					.menu{
						@include flex(flex-start, normal, nowrap);
						list-style: none;
						@media (max-width:$tablet_width) {
							width: 100%;
						}
						@media (max-width:$big-mobile_width) {
							@include flex(flex-start, normal, wrap);
						}
						li{
							@include flex(flex-start, normal, nowrap);
							margin-right: 60px;
							@media (max-width:$laptop_width) {
								margin-right: 30px;
							}
							@media (max-width:$tablet_width) {
								margin-right: 15px;
							}
							@media (max-width:$big-mobile_width) {
								@include flex(center, normal, wrap);
							}
							&:nth-child(1){
								@media (max-width:$big-mobile_width) {
									order:3;
								}
							}
							&:nth-child(2){
								@media (max-width:$big-mobile_width) {
									order:2;
									width: 100%;
									margin-right: 0;
									text-align: center;
									a{
										padding-top: 10px;
										padding-bottom: 0;
									}
								}
							}
							&:nth-child(3){
								@media (max-width:$big-mobile_width) {
									order:1;
									width: 100%;
									margin-right: 0;
									text-align: center;
									a{
										padding-top: 30px;
										padding-bottom: 10px;
									}
								}
							}
							&:nth-child(4){
								@media (max-width:$big-mobile_width) {
									order:4;
								}
							}
							&:nth-child(5){
								@media (max-width:$big-mobile_width) {
									order:5;
								}
							}
							&:last-child{
								margin-right: 0;
							}
							a{
								position: relative;
								display: inline-block;
								padding-top: 25px;
								padding-bottom: 25px;
								letter-spacing: 1.29px;
								color: #000000;
								text-transform: uppercase;
								@include fontStyle($fonts3, 14px, 14px, 400);
								@media (max-width:$big-mobile_width) {
									padding-top: 15px;
								}
								&:hover{
									color: #d93480;
								}
								&:hover,
								&.active{
									&:before{
										@include before(auto, 0, auto, -4px);
										width: 100%;
										height: 5px;
										background-image: $gradient_f2af44_d93380;
									}
								}
							}
						}
					}
					.soz{
						display: none !important;
						@include flex(flex-start, normal, nowrap);
						@media (max-width:$tablet_width) {
							@include flex(flex-end, normal, nowrap);
							width: 100%;
						}
						@media (max-width:$big-mobile_width) {
							@include flex(center, center, nowrap);
						}
						a{
							display: inline-block;
							width: 26px;
							height: 26px;
							background-image: $gradient_f2af44_d93380;
							border-radius:50%;
							margin-right: 12px;
							&:hover{
								background-image: $gradient_ef5595_ca5258;
							}
							&:last-child{
								margin-right: 0;
							}
						}
						.soz-i{
							@include flex(center, center, nowrap);
						}
						.fb{
							i{width: 6px;height: 14px;background-image: url(/images/f.svg);}
						}
						.yt{
							i{width: 14px;height: 10px;background-image: url(/images/yt.svg);}
						}
						.in{
							i{width: 14px;height: 14px;background-image: url(/images/ins.svg);}
						}
					}
				}
			}
		}
		/* .footer__container--moddle */
		&--moddle {
			margin-bottom: 35px;
			display: none;
		}
		/* .footer__container--bottom */
		&--bottom {
			padding-bottom: 40px;
			&>.row{
				@include flex(flex-start, center, wrap);
				@media (max-width:$big-mobile_width) {
					@include flex(center, center, wrap);
				}
			}
			.footer-logo{
				@media (max-width:$big-mobile_width) {
					margin: 0 auto;
					text-align: center;
					display: block;
				}
			}
			.coperate{
				display: block;
				text-align: center;
				color: #000000;
				@include fontStyle($fonts3, 13px, 13px, 300);
				letter-spacing: 0.7px;
				@media (max-width:$big-mobile_width) {
					padding: 20px 0;
				}
			}
			.pro100{
				display: block;
				margin-left: auto;
				margin-right: 0;
				width: 200px;
				height: 55px;
				background: url(/images/pro100.png) no-repeat;
				@media (max-width:$big-mobile_width) {
					width: 174px;
					height: 47px;
					margin: 0 auto;
				}
				&:hover{
					background: url(/images/pro100-hover.png) no-repeat;
				}
			}
		}
	}
	&-menu {
		&__title {
			@include fontStyle($fonts3, 18px, 18px, 400);
			color: #000;
			letter-spacing: 1px;
			text-transform: uppercase;
			display: block;
			margin-bottom: 20px;
			min-height: 18px;
		}
		.list {
			list-style: none;
			&>li{
				margin-bottom: 25px;
				display: block;
				&:last-child{
					margin-bottom: 0;
				}
				&>a{
					@include fontStyle($fonts3, 16px, 24px, 400);
					letter-spacing: 0.5px;
					color: #000;
					&:hover{
						color: #d93480;
					}
				}
				ul{
					list-style: none;
					display: block;
					padding-left: 20px;
					li{
						margin-top: 15px;
						display: block;
						a{
							letter-spacing: 0.5px;
							color: #656;
							@include fontStyle($fonts3, 16px, 24px, 300);
							&:hover{
								color: #d93480;
							}
						}
					}
				}
			}
			&--big{
				list-style: none;
				li{
					a{
						@include fontStyle($fonts3, 18px, 18px, 400);
						color: #000;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
