.ba-slider {
	position: relative;
	overflow: hidden;
	&:before{
		@include before(auto, 10px, auto, 10px);
		content: 'До';
		@include fontStyle($fonts3, 16px, 20px, 400);
		color: #656565;
		padding: 5px 20px;
		background-color: #ffffff;
		z-index: 5;
	}
	&:after{
		@include before(auto, auto, 10px, 10px);
		content: 'После';
		@include fontStyle($fonts3, 16px, 20px, 400);
		color: #656565;
		padding: 5px 10px;
		background-color: #ffffff;
		z-index: 5;
	}
}

.ba-slider img {
	width: 100%;
	display:block;
	max-width:none;
}

.ba-slider .resize {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
}


.ba-slider .handle { /* Thin line seperator */
	position:absolute; 
	left:50%;
	top:0;
	bottom:0;
	width:1px;
	margin-left:-1px;
	background-image: linear-gradient(180deg, #f2af44 0%, #d93380 100%);
	cursor: ew-resize;
}

.ba-slider .handle:after {
	@include before(50%, -25.5px, auto, auto);
	width: 51px;
	height: 51px;
	background: url(/images/handler.svg) no-repeat;
	background-size: cover;
    transform: translateY(-50%);
}