/* adaptive */
$big-notebook_width: 1600px;
$bigpc_width: 1401px; 
$smallpc_width: 1400px; 
$container-min_width: 1301px;
$container_width: 1300px;
$laptop_width: 1199px; 
$ipad_width: 1024px; 
$tablet_min_width: 992px;
$tablet_width: 991px; 
$big-mobile-min_width: 768px;
$big-mobile_width: 767px;
$s_mobile_width: 600px;
$mobile_width: 480px;

/* fonts */
$fonts1: "Intro";
$fonts2: "SF UI Display";
$fonts3: "Myriad Pro";
/* colors */

$color_d93480: #D93480;
$color_e2e2e2: #E2E2E2;
$color_a0a0a0: #A0A0A0;
$color_656565: #656565;
$color_333333: #333333;


$gradient_f2af44_d93380: linear-gradient(to right, #f2af44 0%, #d93380 100%);
$gradient_ef5595_ca5258: linear-gradient(270deg, #ef5595 0%, #ca5258 100%);
$gradient_eff3f7_9eb4d3: linear-gradient(270deg, #eff3f7 0%, #9eb4d3 100%);
$gradient_b3aea4_5c503e: linear-gradient(270deg, #b3aea4 0%, #5c503e 100%);
$gradient_ffb335_f76b3d: linear-gradient(268deg, #ffb335 0%, #f76b3d 100%);
$gradient_fff223_ebac41: linear-gradient(270deg, #fff223 0%, #ebac41 100%);
/*others*/
