.count {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.count__item {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    width: 33%;
    max-width: 460px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 35px;
    &_advantages {
        width: 24%;
        @media screen and (max-width: $desktop-width) {
            width: 23%;
        }
    }
    @media screen and (max-width: $wide-width) {
        font-size: 20px;
    }
    @media screen and (max-width: $desktop-width) {
        font-size: 18px;
    }
}

.count__num {
    font-size: 156px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 20px;
    @media screen and (max-width: $wide-width) {
        font-size: 136px;
    }
    @media screen and (max-width: $desktop-width) {
        font-size: 110px;
    }
    &_advantages {
        width: 100%;
        max-width: 324px;
        font-size: 133px;
        border-bottom: 1px solid #fff;
        font-family: "Muller Black", Arial, sans-serif;
        @media screen and (max-width: $wide-width) {
            font-size: 100px;
        }
        @media screen and (max-width: $desktop-width) {
            font-size: 90px;
        }
    }
}