.firstscreen {
    background-image: url(../imgs/firstscreen_bg.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url(../imgs/firstscreen_bg@2x.jpg);
    }
    @media screen and (max-width: $gmobile-width) {
        background-image: url(../imgs/firstscreen_bg_mob.jpg);
    }
}