.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 256px;
    background-color: rgba(2, 2, 2, 0.8);
    display: flex;
    flex-direction: column;
    padding: 26px 27px;
}

.header__logo {
    margin-bottom: 30px;
}