.header {
    position: absolute;
    top: auto;
    left: 0;
    height: 100vh;
    max-width: 256px;
    background-color: rgba(2, 2, 2, 0.8);
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    &.fixed-menu_active {
        position: fixed;
        top: 0;
    }
}

.header__logo {
    margin: 2vh 1.3vw 1vh;
    text-align: center;
    @media screen and (max-width: $desktop-width) {
        margin: 23px 23px 15px;
        img {
            width: 176px;
        }
    }
}