.mainmenu {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.mainmenu__link {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: .7vh 1vw 0.7vh 1.3vw;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    &:hover {
        color: $mustard;
    }
    &.marked {
        color: $mustard;
    }
    &:last-child {
        border-bottom: none;
    }
    @media screen and (max-width: $wide-width) {
        padding: 10px 20px;
    }
}

.mainmenu_footer .mainmenu__link {
    border: none;
    padding: 0;
    line-height: 26px;
    @media screen and (max-width: $wide-width) {
        font-size: 14px;
    }
}