html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 1.3;
    color: $base-color;
    font-weight: 400;
    background-color: $bg;
    @media screen and (max-width: $desktop-width) {
        font-size: 16px;
    }
}

body {
    position: relative;
    overflow-y: scroll;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $base-color;
    transition: all 0.3s;
    &:hover,
    &:active,
    &:focus {
        color: $mustard;
    }
    &.phone {
        color: $base-color;
        text-decoration: none;
    }
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.page-wrapper {
    margin: 0 0 0 300px;
    padding-right: 20px;
    justify-self: flex-end;
    display: flex;
    width: calc(100% - 300px);
    flex-wrap: wrap;
    &_catalog {
        padding-right: 0;
        justify-content: space-between;
    }
    @media screen and (min-width: 1921px) {
        max-width: 1645px;
        padding-right: 60px;
        &_catalog {
            margin-left: 340px;
            padding-right: 0;
            width: calc(100% - 340px);
        }
    }
    @media screen and (max-width: $wide-width) {
        margin: 0 0 0 260px;
        width: calc(100% - 260px);
    }
}

.main__section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
}